# Davis Weather Station Configuration
STATION_URL=http://192.168.1.103/v1/current_conditions
STATION_TOKEN=2FC1C7EE3F1A48D48DCF66EC9E5335B0
POLL_INTERVAL=60000

# Server Configuration
PORT=4000
NODE_ENV=development

# Database
DB_PATH=./data.db
